<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Show location on map
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          
            <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom">
                <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>

            </agm-map>

        </div>
      </div>
    </div>
  </div>
